@model IEnumerable<UserDto>

@{
    ViewData["Title"] = "Users Management";
}

<div class="page-header">
    <div>
        <h1 class="page-title">@ViewData["Title"]</h1>
    </div>
    <div>
        @if (_currentUser.HasPermission(Permissions.Users.Create))
        {
            <a class="btn btn-primary" onclick="RenderModalByGet('#uModal', '@Url.Action("Create")')">
                <i class="icon fas fa-plus-circle"></i> Add
            </a>
        }
    </div>
</div>

<div class="animated fadeInRight">
    <div class="card">
        <div class="card-body">
            <table id="dataTable" class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>FullName</th>
                        <th>PhoneNumber</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td>@row.UserName</td>
                            <td>@row.FullName</td>
                            <td>@row.PhoneNumber</td>
                            <td>@row.Email</td>
                            <td>
                                @if (row.UseDomainPassword)
                                {
                                    <span class="badge rounded-pill bg-primary">AD user</span>
                                    <br />
                                }

                                @if (row.IsBlocked)
                                {
                                    <span class="badge rounded-pill bg-warning">blocked</span>
                                    <br />
                                }

                                @if (row.IsDeleted)
                                {
                                    <span class="badge rounded-pill bg-danger">deleted</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <partial name="Components/DataTables/datatables.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <partial name="Components/DataTables/datatables.js" />

    <script type="text/javascript">
        $().ready(function () {
            initFileDatatable('#dataTable');
        });
    </script>
}